<div class="jumbotron">
  <h1>Welcome to Devslist!</h1>
  <p>Where you can find and post job</p>
  <p><a class="btn btn-primary btn-lg" href= "<%= jobs_index_path %>" role="button">Listings</a></p>
  <p> Or Sell and Buy Stuff <p>
  <p><a class="btn btn-primary btn-lg" href= "<%= for_sale_index_path %>" role="button">For Sale</a></p>
</div>